* {
    margin: 0;
    padding: 0;
}
main {
    margin: 20px;
    max-width: 1200px;
}
header,
footer {
    text-align: center;
    border-style: solid;
    border-color: #adadad;
    border-width: 1px;
    padding: 5px;
}
section {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-gap: 20px;
}
article {
    width: 400px;
    border-style: solid;
    border-color: black;
    border-width: 1px;
}
#second img:first-of-type + h3 {
    color: #555555;
}
h3:nth-child(2) {
    color: darkblue;
}
